*{
    margin: 0;padding: 0;
}

.container {
    width:960px;margin: 0 auto;
    
}

.nav {
    background: black;
    min-height: 50px;
}
.nav ul{
    list-style: none;
}
.nav ul li{
    float: left;
    border-left:1px solid green;
    border-right: 1px solid slategray;
    position: relative;
    
}

.nav ul li:first-child{border-left:none;}
.nav ul li:last-child{border-right:none;}
.nav ul li a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    transition: 1s;
    font-weight: bold;
}
.nav ul li a:hover{
    background: white;
    color:black;
    transform: rotate(360deg) scale(1.2);
    
   
   
}
#active{background: orange}

/*dropdown css*/
.nav ul li ul{position: absolute;left: -9999999px;background: green;}
.nav ul li:hover ul{left:0}
.nav ul li ul li{float:none;border-left:none;border-right:none;border-top: 1px solid yellow;border-bottom: 1px solid yellow}
.nav ul li ul li a{width: 200px}
.nav ul li ul li a:hover{transform: none}


.slider{
   background-image: url('images/web2.jpg') no-repeat;
    
    
}

input[type=text]{width: 100px;transition: .35s}
input[type=text]:focus{width: 250px;}

.one{width: 100px;height: 100px;background: red;transition: 1s}
.one:hover{width: 200px;height: 500px}
.image-gallery {
    
     
}

.image-gallery-design {
}